body {
    border: 0;
    outline: 0;
    vertical-align: baseline;
    background: transparent;
}

h1 {
    color: #ff0000;
}

ul {
    list-style: none;
}

div.ranking_body {
    max-width: 640px;
    margin: 0 auto;
    overflow: hidden;
}

span.firstNumberColor {
    color: #e5c237;
}

div.songInfo {
    display: table-cell;
    vertical-align: middle;
    width: 100%;
    padding: 0 18px 0 12px;
}

div.firstNumber {
    margin: 0 0 8px;
    vertical-align: top;
    height: 24px;
}

li.firstItem {
    position: relative;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
}

a.firstUrl {
    display: block;
    position: relative;
}

::after {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: url(data:image/svg+xml,%3Csvg%20xmlns='http://www.w3.org/2000/svg'%20width='8px'%20height='16px'%20viewBox='0%200%205.56%2010'%3E%3Cpath%20fill='%23ccc'%20d='M5.56%205L.63%2010%200%209.36%204.29%205%200%20.64.63%200l4.93%205z'/%3E%3C/svg%3E);
    background-repeat: no-repeat;
    content: "";
    display: block;
    right: 6px;
    width: 8px;
    height: 16px;
}